/* Color palette
 * Azure - #f0ffff
 * Orange - #ff5733
 */

@media {
    video {
        width: 100%;
    }

    body {
        background-color: #f0ffff;
    }

    h1 {
        color: black;
        text-align: center;
        font-family: Anton;
    }

    h2 {
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 40px;
        font-family: Anton;
    }

    img {
        width: 100%;
        align-content: center;
        margin: 20px 0px 20px 0px;
    }

    #topper {
        position: relative;
        margin: 0px;
        padding: 0px;
    }

    #toppertext {
        color: black;
        background-color: rgba(240, 255, 255, 0.8);
        margin: 0px 0px 0px 50%;
        padding: 10px;
        position: absolute;
        top: 0px;
    }

    #videoh1 {
        font-style: italic;
        text-transform: uppercase;
        font-size: 25px;
    }

    #videoh3 {
        font-style: italic;
        font-family: Inter;
        font-size: 15px;
        color: #ff5733;
    }

    #videoh4 {
        font-style: italic;
        font-size: 15px;
        color: #ff5733;
    }

    p {
        font-family: Inter;
    }

    .caption {
        font-size: 12px;
        font-family: Inter;
    }

    .credit {
        font-weight: bold;
        color: #ff5733;
        text-transform: uppercase;
        font-family: Inter;
    }

    #content {
        width: 100%;
        font-size: 15px;
    }

    .inlineimage {
        width: 100%;
    }

    .pullquote {
        text-align: center;
        padding: 10px 30px 10px 30px;
        margin: 80px 0px 0px 0px;
    }

    .quote {
        font-size: 60px;
        font-family: Anton;
    }

    .attribution {
        color: #ff5733;
        font-family: Anton;
        margin-bottom: 60px;
    }

    .quotemark {
        font-size: 200px;
        float: left;
        line-height: 0px;
        color: #ff5733;
        margin-top: 60px;
    }
}

@media (min-width: 576px) {
    #content {
        width: 80%;
    }

    #videoh1 {
        font-style: italic;
        text-transform: uppercase;
        font-size: 30px;
    }

    #videoh3 {
        font-style: italic;
        font-family: Inter;
        font-size: 20px;
        color: #ff5733;
    }
}

@media (min-width: 768px) {
    #content {
        width: 70%;
    }

    #videoh1 {
        font-style: italic;
        text-transform: uppercase;
        font-size: 40px;
    }

    #videoh3 {
        font-style: italic;
        font-family: Inter;
        font-size: 20px;
        color: #ff5733;
    }
}

@media (min-width: 992px) {
    #content {
        width: 60%;
    }

    #videoh1 {
        font-style: italic;
        text-transform: uppercase;
        font-size: 50px;
    }

    #videoh3 {
        font-style: italic;
        font-family: Inter;
        font-size: 20px;
        color: #ff5733;
    }
}
