/* Color palette
 * Dark blue - #1A467D
 */

@media {
    body {
        background-color: #f0ffff;
    }

    /*#topper {
        background-size: cover;
        background-position: 10% 10%;
        height: 450px;
        /*background-color:#1A467D;

    } */

    h1 {
        color: black;
        text-align: center;
        font-family: Anton;
    }

    h2 {
        font-weight: bold;
        font-size: 30px;
        font-family: Anton;
    }

    img {
        width: 740px;
        height: 416px;
        align-content: center;
    }

    #topper {
        position: relative;
        margin: 0px;
        padding: 0px;
    }

    #videoh1 {
        color: black;
        background-color: #f0ffff;
        margin: 0px 0px 0px 700px;
        padding: 0px;
        position: absolute;
        top: 80px;
        font-style: italic;
        text-transform: uppercase;
    }

    #videoh3 {
        color: black;
        background-color: #f0ffff;
        margin: 110px 0px 0px 700px;
        padding: 0px;
        position: absolute;
        top: 80px;
        font-style: italic;
        font-family: Inter;
        font-size: 20px;
    }

    #videoh4 {
        color: black;
        background-color: #f0ffff;
        margin: 130px 0px 0px 700px;
        padding: 0px;
        position: absolute;
        top: 80px;
        font-style: italic;
        font-size: 15px;
    }

    p {
        font-family: Inter;
    }

    .caption {
        font-size: 12px;
        font-family: Inter;
    }

    .credit {
        font-weight: bold;
        color: gray;
        text-transform: uppercase;
        font-family: Inter;
    }

    #content {
        width: 100%;
        font-size: 15px;
    }

    .inlineimage {
        width: 100%;
    }

    .pullquote {
        border-left: 3px solid black;
        text-align: center;
        padding: 10px 30px 10px 30px;
        margin: 20px 0px 20px 0px;
    }

    .quote {
        font-size: 50px;
        font-family: Anton;
    }

    .attribution {
    }

    .quotemark {
        font-size: 120px;
        float: left;
        line-height: 50px;
    }
}

@media (min-width: 576px) {
    #content {
        width: 80%;
    }
}

@media (min-width: 992px) {
    #content {
        width: 60%;
    }
}

@media (min-aspect-ratio: 16/9) {
    video {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    video {
        width: auto;
        height: 100%;
    }
}
