/* Color palette
 * Dark blue - #1A467D
 */

@media {
    
/*#topper {
        background-size: cover;
        background-position: 10% 10%;
        height: 450px;
        /*background-color:#1A467D;*/

    }

    h1 {
        color: black;
        text-align: center;
        font-family: Archivo Black;
    }
    
    h2 {
        font-weight: bold;
        font-size: 30px;
    }

p {
    font-family: Inter;
}

    .caption {
        font-size: 12px;
    }

    .credit {
        font-weight: bold;
        color: gray;
        text-transform: uppercase;
    }

    .date {
        text-align: center;
        font-style: italic;
    }

    #content {
        width: 100%;
        font-size: 15px;
    }

    .inlineimage {
        width: 100%;
    }

.pullquote {
    border-left:3px solid black;
    text-align: center;
    padding: 10px 30px 10px 30px;
    margin: 20px 0px 20px 0px;
    
}


.quote {
    font-size: 50px;
}

.attribution {
    
}

.quotemark {
    font-size: 120px;
    float: left;
    line-height: 50px;
    font-family: "Inter";
}


}

@media (min-width: 576px) {
    #content {
        width: 80%;
    }
}

@media (min-width: 992px) {
    #content {
        width: 60%;
    }
}

@media (min-aspect-ratio: 16/9) {
  video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  video {
    width: auto;
    height: 100%;
  }
}