/*
MY COLOR PALETTE
Color 1 - #D6FFF6
Color 2 - #231651
Color 3 - #4DCCBD
Color 4 - #2374AB
Color 5 - #FF8484
*/

body {
    background-color: #D6FFF6;
    text-align:center;
}

button {
    background-color: #231651;
    color: #4DCCBD;
        font-family:"DM Sans", sans-serif;
    width:200px;
    padding:15px;
    margin:20px;
    font-size: 25px;
        text-transform:uppercase;
    border:none;
    border-radius:15px
}

button:hover {
    background-color:#2374AB;
}

h1 {
      font-family: "DM Serif Display", serif;
    font-size:60px;
   color:#FF8484;
}

h2 {
    font-family:"DM Sans", sans-serif;
}