/*
#050A30 - General background color
#233DFF - Navbar background
#e85d04 - Button background color/Horizontal lines color
 */

@media {
    body {
        background-color: #050a30;
        font-family: "Archivo Black";
        color: #e5e5e5;
    }

    .site-topper {
        background-color: #050a30;
        color: #ffffff;
        padding: 20px 0;
        text-align: center;
    }

    .site-topper h1 {
        font-size: 36px;
        color: #ffffff;
        text-align: center;
    }

    .site-topper .lead {
        font-size: 20px;
        color: #ffffff;
        text-align: center;
    }

    .site-topper img {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .btn-primary {
        margin-top: 50px;
        background-color: #e85d04;
        border: none;
        padding: 10px 20px;
        color: #ffffff;
        font-size: 30px;
        margin-bottom: 80px;
    }

    /* Navigation bar styles */
    #navbar {
        background-color: #233dff;
        margin-top: 20px;
    }

    #navbar .nav-link {
        color: #e5e5e5;
        text-decoration: underline;
        font-size: 30px;
        color: #e5e5e5;
        margin-right: 40px;
    }

    #navbar .navbar-nav .nav-item {
        padding: 0 10px;
    }

    /* Section heading styles */
    .section-heading {
        margin-bottom: 20px;
        color: #e5e5e5;
        font-size: 35px;
        text-align: center;
    }

    /* Experience section styles */
    .experience-entry h3 {
        color: #e5e5e5;
        font-weight: bold;
        font-size: 20px;
        margin-top: 30px;
    }

    .experience-entry .company {
        font-style: italic;
        margin-bottom: 5px;
    }

    .experience-entry .date-range {
        margin-bottom: 10px;
    }

    .experience-entry p {
        margin-bottom: 50px;
    }

    /* Skills section styles */
    #skills p {
        margin-bottom: 5px;
    }

    /* Education section styles */
    .education-entry p {
        margin-bottom: 5px;
    }

    .education-entry {
        padding-bottom: 40px;
    }

    .education-entry .university {
        font-style: italic;
    }

    .section-divider {
        border-top: 1rem solid #e85d04;
        margin-top: 25px;
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .site-topper h1 {
        margin-top: 50px;
    }

    body {
        margin-bottom: 60px;
    }

    #navbar .nav-link {
        font-size: 25px;
    }

    .section-heading {
        font-size: 30px;
    }

    .experience-entry h3 {
        font-size: 18px;
    }

    #skills .col-md-4 {
        margin-bottom: 20px;
    }
}
